.booking-form {
    width: 900px;
    display: flex;
    flex-direction: column;
    color: #D8C7FF;
    margin-top: 50px;
    border:3px solid #A855F7;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    /* background-color: #14162D; ????? */
    box-sizing: border-box;
    padding: 30px;
}

.book-button {
    font-family: "arcade";
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #D8C7FF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #080A18;
    width: 220px;
    margin-top: 20px;
    height: 42px;
    

    background: linear-gradient(
    to bottom,
    #D8C7FF,
    #B388FF,
    #A855F7
); 

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6),
    0 0 20px rgba(168, 85, 247, 0.7);

    transition: 0.2s;
}

.book-button:hover {
    transform: scale(1.03);
        box-shadow:
        inset 0 8px 10px rgba(255, 255, 255, 0.8),
        inset 0 -8px 10px rgba(109, 40, 217, 0.6),
        0 0 30px rgba(168, 85, 247, 0.9);
}

.booking-container {
    display: flex;
    flex-direction: column;
}

.book-title {
    font-family: "arcade";
    font-size: 64px;
    color: #D8C7FF;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.booking-info {
    color: #A9A3C7;
    max-width: 50%;
}

.booking-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text-input {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    height: 45px;
    background-color: #080A18;
    outline: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 400px;
    color: #A9A3C7
}

.select-options {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    height: 45px;
    background-color: #080A18;
    outline: none;
    padding: 5px;
    width: 400px; 
    margin-bottom: 50px;  
    color: #A9A3C7
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.big-text-input {
    font-family: Arial, sans-serif;
    resize:vertical;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    height: 90px;
    background-color: #080A18;
    outline: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    color: #A9A3C7
}

.header-line {
    border-radius: 17px 17px 0 0;
    margin: 0 -30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #080A18;
    padding: 6px;
    background: linear-gradient(
        to bottom,
        #D8C7FF,
        #B388FF,
        #A855F7
); 
    

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6);
}

.consent-box::after {
    content: "*";
    color: red;
}

