.book-aside {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    color: #A9A3C7;
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    background-color: #14162D;
    width: 300px;

}

.book-aside-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

/* 

.book-aside-photo {

    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    color: #A9A3C7;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    background-color: #14162D;

} */

.book-aside-title {

    color: #D8C7FF;
    display: flex;
    font-size: 20px;
}

.book-aside-description {

    color: #D8C7FF;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;

}

.book-aside-lower {

    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    border: 2px solid #A855F7;
    background-color: #14162D;
    width: 300px;
    overflow: hidden;

}

.book-aside-lower aside {

    width: 100%;
    padding: 0;

}

.aside-photo {

    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;

}

.header-line-aside {
    border-radius: 17px 17px 0 0;
    margin: 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: #080A18;
    padding: 6px;
    background: linear-gradient(
        to bottom,
        #D8C7FF,
        #B388FF,
        #A855F7
); 
    

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6);
}