footer {
    font-family: "arcade";
    background-color: #d6c8ff;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    margin-top: auto;
    flex-direction: row;
    background: linear-gradient(
    to right,
    #D8C7FF,
    #B388FF,
    #A855F7
    );

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6),
    0 0 20px rgba(168, 85, 247, 0.7);
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:200px;
    align-items: center;
}

.footer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 3px;
    word-spacing: 3px;
}