/* TODO: OpenDislexic font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #d8c7ff;
    padding: 18px 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px rgba(168, 85, 247, 0.25);
}

footer {
    background-color: #d6c8ff;
    margin-top: auto;
    padding: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 950px;
    height: 55px;
    justify-content: center;
}

body {
    min-height: 100vh;
    /* min-width: 100vw; */
    display: flex;
    flex-direction: column;
    background-color: #080A18; 
}

.card {
    border: 5px solid  rgb(152, 151, 151);
    padding: 16px;
    width: 300px;
    height: 450px;
    background-color: rgb(89, 88, 87);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    margin-top: 52px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    gap: 50px;
    margin-left: 100px;
    margin-top: 10px;
    color: #20104F;
    cursor: pointer;

}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 40px;
    color: rgb(152, 151, 151);
}

@media (max-width: 768px) {
    .home-container {
        width: 100%;
        padding: 20px;
        margin-bottom: 40px;
    }
}

.home-title {
    font-size: 64px;
    color: #D8C7FF
}

@media (max-width: 768px) {
    .home-title {
        font-size: 40px;
    }
}

.home-description {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #A9A3C7
}

.home-aside {
    width: 30%;
    width: 400px;
    height: 450px;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #A855F7;
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.35);
    color: #A9A3C7;
    align-self: center;
}

.home-aside h2 {
    color: #D8C7FF;
    font-size: 28px;
    margin-bottom: 20px; 
}

.aside-description {
    color: #A9A3C7;
    font-size: 17px;
    line-height: 1.6;
}

main {
    display: flex;
    flex: 1;
    padding: 30px;
    flex-direction: row;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
}

.home-button {
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #D8C7FF;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #080A18;
    width: 250px;
    height: 60px;
    margin-top: 10px;  
    background: linear-gradient(
    to bottom,
    #D8C7FF,
    #B388FF,
    #A855F7
); 

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6),
    0 0 20px rgba(168, 85, 247, 0.7);

    transition: 0.2s;
}

.home-button:hover {
    transform: scale(1.03);
        box-shadow:
        inset 0 8px 10px rgba(255, 255, 255, 0.8),
        inset 0 -8px 10px rgba(109, 40, 217, 0.6),
        0 0 30px rgba(168, 85, 247, 0.9);
}

.aside-button {
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid #D8C7FF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #080A18;
    width: 220px;
    height: 42px;
    margin-top: 20px;  

    background: linear-gradient(
    to bottom,
    #D8C7FF,
    #B388FF,
    #A855F7
); 

    box-shadow:
    inset 0 8px 10px rgba(255, 255, 255, 0.8),
    inset 0 -8px 10px rgba(109, 40, 217, 0.6),
    0 0 20px rgba(168, 85, 247, 0.7);

    transition: 0.2s;
}

.aside-button:hover {
    transform: scale(1.03);
        box-shadow:
        inset 0 8px 10px rgba(255, 255, 255, 0.8),
        inset 0 -8px 10px rgba(109, 40, 217, 0.6),
        0 0 30px rgba(168, 85, 247, 0.9);
}

.aside-star {
    font-size: 100px;
    color: #D8C7FF;
}

.booking-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    color: rgb(152, 151, 151);
    margin-top: 50px;
}

.book-button {
    width: 150px;
    height: 50px;
    margin-top: 30px;
}

.booking-container {
    display: flex;
    flex-direction: column;
    color: rgb(152, 151, 151);
}

.about-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: rgb(152, 151, 151);
}

.about-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-photo {
    width: 800px;
    height: 300px;
    object-fit: cover;
    margin-right: auto;
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


